/* Estilos para el contenedor principal */
.contenedor {
  display: flex; /* Aca uso flexbox para dividir las columnas */
  margin: 0; /* Eliminar los márgenes predeterminados del cuerpo de la página para que se vea bonit :) */
}

/* Estilos para la columna izquierda */
.columna-izquierda {
  flex: 0.2; /* Tamaño de la columna izquierda*/
  text-align: center; /* Centrar el contenido */
  padding: 0; /* Eliminar el relleno predeterminado (margen interno) */
  background: linear-gradient(to bottom, #FFFFFF, #0089ff); /* Degradado azul suave */
 
}

/* Estilos para la imagen en la columna izquierda */
.columna-izquierda img {
  max-width: 100%; /* La imagen no excederá el ancho de su contenedor */
  height: auto; /* Mantener la relación de aspecto */
  width:50%;
  height: auto;
  margin: 0; /* Eliminar cualquier margen en la imagen */
  text-align: center; /* Centrar el contenido horizontalmente */
}

/* Estilos para la columna derecha */
.columna-derecha {
  flex: 1; /* La columna izquierda ocupa 1 parte de 2 partes en total (50%) */
  text-align: left; /* Centrar el contenido horizontalmente */
  background: linear-gradient(to bottom, #FFFFFF, #DAF0EE); /* Degradado gris suave*/
  max-width: 7.5in;
}

.columna-izquierda h3 {
  font-size: 40px; /* Tamaño de fuente personalizado para h3 */

}
.icono {
  width: 10% !important; /* Tamaño del icono */
  height: auto;
  margin: 0; /* Eliminar margen alrededor del icono */
}

/* Estilos para la lista con barra */
.lista-con-barra {
  list-style-type: none; /* Eliminar los puntos predeterminados de la lista */
  padding-left: 0; /* Eliminar el relleno predeterminado de la lista */
}

/* Estilos para los elementos de la lista */
.lista-con-barra li {
  padding-left: 10px; /* Espacio entre el borde izquierdo y el contenido */
  
  border-left: 60px solid #FFFFFF; /* Borde izquierdo con color */
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
  border-right: 60px solid #FFFFFF; /* Borde izquierdo con color */
  border-radius: 5px; /* Para redondear borde */
 
}

/* Clase para aplicar color a los textos */
.texto-coloreado {
  color: #0089ff; /* Cambia el color según tu preferencia */
}

.texto-derecha {
  margin-left: 20px; /* margen */
}


/* Clase para aplicar un fondo de cuadro */
.titulo-cuadro {
  background-color: #01549c; /* Cambia el color de fondo */
  color: #FFFFFF; /* Cambia el color del texto */
  padding: 10px; /* Espacio alrededor del texto dentro del cuadro */
  border-radius: 10px; /* Bordes redondeados del cuadro */
  display: inline-block; /* Hace que el cuadro se ajuste al contenido del título */
}